header {
    background-color: orangered;
    color:white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;
    border-style: dashed;
    text-align: center;
}

body {
    background-color: orange;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    width: 1200px;
    height: 1000px;
    text-align: center;
}